#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#card:hover ~ .cursor{
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  transform: scale(6);  
}

.cursor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  pointer-events: none;
  z-index: 10;
}